
<!-- this router-outlet is a special directive
that tells angular where to render the loaded
components -->
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" >
    <!-- nav list component -->
    <app-nav-list (OnCloseToggle)="sidenav.close()"></app-nav-list>
    <!-- end of navlist component -->
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- this is toolbar component -->
  <app-toolbar (ToggleClicked)="sidenav.toggle()"></app-toolbar>
    <!-- end of the toolbar -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

